
.element-detail {
  overflow: hidden;
  display: flex;
  background-color: #fcfbf7;
}

#details_view {
  width: 100%;
  margin: 15px;
  display: flex;
}

div.bold {
  font-weight: bold;
}

.wine_name {
  font-weight: bold;
  font-size: large;
  margin-left: 3px;
}

.wine_year {
  color: #77767a;
  margin-left: 3px;
  font-size: small;
}

.wine_details_table {
  margin-top: 10px;
  font-size: 14px;
}

.wine_details_button_area {
  margin-top: 20px;
}

.wine_details_table_headline {
  color: #77767a;
  width: 100px;
}

.wine_details_table_value {
  color: #650e1b;
}

div.details_view_ {
  float: left;
  flex-grow: 1;
  margin-top: 5px;
}

div.details_view_header {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #650e1b;
  border-bottom: 1px solid #c9c8c5;
}
